@import "compass";
@import "mixins";

footer {
  background-color: $mainColor;
  div.wrapper > ul {
    @include clearfix;
    list-style: none;
    margin: 0;
    padding: 20px 0 20px 0;
    & > li {
      display: block;
      float: left;
      padding: 0px 15.2778px;
      // border-right: 1px dashed $secondaryColor;
      // &:first-child {
      //   border-left: 1px dashed $secondaryColor;
      // }
      & > a {
        font-size: 15px;
        color: $secondaryColor;
      }
      ul {
        margin: 20px 0;
        padding: 0;
        li {
          list-style: none;
        }
      }
    }
  }
  a {
    color: $shadedColor;
    text-decoration: none;
    font-size: 10px;
  }
  p {
    color: $secondaryColor;
    margin: 0;
    padding-bottom: 50px;
    text-align: right;
    font-size: 12px;
  }
  a.back-to-top {
    $circleWidth: 60px;
    $whiteMargin: 3px;
    $innerMargin: 20px;
    position: relative;
    top: -($circleWidth/2 + $whiteMargin);
    left: $wrapperWidth/2 - $circleWidth/2 - $whiteMargin;
    display: block;
    width: $circleWidth;
    height: $circleWidth - $innerMargin;
    padding: $innerMargin/2 0;
    @include border-radius($circleWidth/2+$whiteMargin);
    border: $whiteMargin solid white;
    text-align: center;
    line-height: ($circleWidth - $innerMargin)/3;
    font-weight: bold;
    font-size: 11px;
    background-color: $mainColor;
    @include transition(.3s);
    &:hover {
      background-color: $secondaryColor;
      color: $mainColor;
    }
  }
}