@import "compass";
@import "mixins";

header {
  background-color: $mainColor;
  border-bottom: $borderWidth solid $accentColor;
  // @include zurui_box_shadow();
  h1 {
    color: $secondaryColor;
    margin: 0;
    letter-spacing: 5px;
    font-size: 24px;
    padding-top: 10px;
  }
  ul {
    list-style: none;
    @include clearfix;
    margin: 0;
    padding: 0;
    li {
      display: block;
      float: left;
      margin: 15px 0px;
      border-right: 1px solid $secondaryColor;
      &:first-child {
        border-left: 1px solid $secondaryColor;
        // margin-left: 8px;
      }
      a {
        display: block;
        padding: 3px 19.9735px;
        color: $secondaryColor;
        text-decoration: none;
        @include transition(.0s);
        p {
          margin: 0px;
          font-size: 9px;
          &.en {
            font-weight: 700;
            font-size: 14px;
            margin-bottom: 2px;
          }
        }
        &.current {
          background-color: $secondaryColor;
          p {
            color: $mainColor;
          }
        }
        &:hover {
          background-color: $secondaryColor;
          p {
            color: $mainColor;
          }
          @include transition(.6s);
        }
      } // a
    } // li
  } // ul
}