@import "compass";
@import "mixins";

header {
  background-color: $mainColor;
  border-bottom: 3px solid $accentColor;
  @include zurui_box_shadow();
  h1 {
    color: $secondaryColor;
    margin: 0;
    letter-spacing: 5px;
    font-size: 24px;
    padding-top: 10px;
  }
  ul {
    list-style: none;
    @include clearfix;
    margin: 0;
    padding: 0;
    a {
      display: block;
      float: left;
      margin: 15px 0px;
      padding: 0px 19px;
      border-right: 1px solid $secondaryColor;
      text-decoration: none;
      @include transition(.6s);
      &:first-child {
        border-left: 1px solid $secondaryColor;
        // margin-left: 8px;
      }
      &:hover {
        background-color: $secondaryColor;
        li {
          color: $mainColor;
        }
      }
      li {
        color: $secondaryColor;
        p {
          margin: 0px;
          font-size: 10px;
          &.en {
            font-weight: bold;
            font-size: 15px;
          }
        }
      } // li
    } // a
  } // ul
}