/* size */
$wrapperWidth: 960px;
$sidemenuWidth: 254px;
$borderWidth: 1px;

/* color */
$mainColor: rgba(2,31,111,1.0);
$mainColorShade: rgba(2,31,111,0.2);
$accentColor: rgba(252,204,1,1.0);
$secondaryColor: white;
$shadedColor: rgba(245,245,245,1.0);
$thirdColor:  rgba(46,46,46,1.0);
