@import "compass";

@import "variables";
@import "header";
@import "footer";
@import "mixins";

div.wrapper {
  width: $wrapperWidth;
  margin: auto;
}

body {
  min-width: $wrapperWidth;
}

div#body {
  @include clearfix;
  padding-top: 30px;
}

div#sidemenu {
  width: 254px;
  float: left;
  div.page_title {
    background-color: $mainColor;
    padding: 50px 20px;
    p {
      margin: 0;
      color: white;
      font-size: 15px;
      &.en {
        font-size: 30px;
        font-weight: bold;
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    a {
      display: block;
      color: black;
      text-decoration: none;
      border-bottom: 1px solid $mainColor;
      padding: 10px 20px;
      &:hover {
        background-color: $mainColorShade;
      }
    }
  }
}

div#main {
  float: right;
  width: 960px - 34px - 254px;
}