@import "compass";

@import "variables";
@import "mixins";

@import "header";
@import "footer";
@import "sidemenu";

body {
  min-width: $wrapperWidth;
}

div#body {
  @include clearfix;
  padding-top: 30px;
}

div.wrapper {
  width: $wrapperWidth;
  margin: auto;
}

main {
  float: right;
  width: 960px - 34px - 254px;
}

p {
  // font-size: 16px;
  font-size: 14px;
  line-height: 24px;
}

h3 {
  font-size: 18px;
  border-bottom: 3px solid $accentColor;
}
