@import "compass";

@import "variables";
@import "mixins";

@import "header";
@import "footer";
@import "sidemenu";

body {
  min-width: $wrapperWidth;
}

div#body {
  @include clearfix;
  padding-top: 30px;
}

div.wrapper {
  width: $wrapperWidth;
  margin: auto;
}

main {
  float: right;
  width: $wrapperWidth - 15px - $sidemenuWidth;
  margin-bottom: 50px;
}

p {
  // font-size: 16px;
  font-size: 14px;
  line-height: 24px;
  // text-align: justify;
}

h2 {
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 24px;
  border-top: $borderWidth solid $mainColor;
  border-bottom: $borderWidth dashed $mainColor;
  letter-spacing: 2px;
  background-image: image-url("bg-image.png");
  background-repeat: no-repeat;
  background-position: -3px center;
  background-size: 14px;
}

h3 {
  font-size: 18px;
  border-bottom: 2px solid $accentColor;
}

section {
  margin-left: 20px;
}

.todo {
  display: block;
  @include border-radius(3px);
  background-color: red;
  padding: 20px;
  color: white;
}
