---
title: 学生対象ページ
---

%div#body
  %div.wrapper

    %div#sidemenu
      = partial "layouts/sidemenu", locals: {side_content: data.nav.side['for_students']}

    %main
      %h2 学生の方へ
      %section#lab
        %h3 研究室紹介

        %p
          私たちの研究室では、脳磁界計測法（MEG）・磁気共鳴画像法（MRI）を用いて、自分で計画した実験をもとにグループと個人で研究活動を進める事ができます。脳活動の計測法には、侵襲的なものと無侵襲なものに大きく分けることができ、MEGやMRIなど無侵襲な手法を利用しています。また、神経科学（脳科学）は学際的な分野であるために、様々なバックグラウンドの知識が必要です。本研究室では、脳のメカニズムを深く学ぶことができ、それと関連した工学、生理学、心理学、計算理論などの分野にも関わることが出来ます。特に生体信号処理、脳情報解析、異種感覚統合、脳機能計測について研究したい方は、青山敦研究室が一番方向性の合う研究室であると言えます。

        %p= "詳しくは" + link_to("こちら", "http://www.sfc.keio.ac.jp/introducing_labs/20131101.html") + "をご覧下さい。"

      %section#environment
        %h3 研究環境

        %p
          本研究室では、世界の最先端を行く計測装置を扱うことが可能です。具体的には、脳磁界計測法（MEG）・磁気共鳴画像法（MRI）が使用できます。これらを学部1年生から使用して研究が行えることは、大きな特権であると言えます。

      %section#for-other-univs
        %h3 他大学・他学科・他研究室からの進学希望者へ

        %p.todo まだ保留らしい