---
title: 学生対象ページ
---

%div#body
  %div.wrapper

    %div#sidemenu
      = partial "layouts/sidemenu", locals: {side_content: data.nav.side['for_students']}

    %main
      %h2 学生の方へ
      %section#lab
        %h3 研究室紹介

        %p
          私たちの研究室では、自分たちで計画した脳計測実験をもとにグループと個人で研究活動を進める事ができます。脳活動の計測法は、侵襲的なものと無侵襲なものに大きく分けることができ、我々は脳磁界計測法（MEG）や磁気共鳴画像法（MRI）など無侵襲な手法を利用しています。また、神経科学（脳科学）は学際的な分野であるために、様々なバックグラウンドの知識が必要です。本研究室では、脳のメカニズムを深く学ぶことができ、それと関連した工学、生理学、心理学、計算理論などの分野にも関わることが出来ます。特に脳機能計測、脳情報解析、生体信号処理について研究したい方にとって、一番方向性の合う研究室であると言えます。

        %p= "詳しくは" + link_to("こちら", "http://www.sfc.keio.ac.jp/introducing_labs/20131101.html") + "をご覧下さい。"

        %p
          研究会の授業時間においては、前半に関連する論文の発表や書籍の輪読を行い、後半に脳情報の計測手法や解析手法の講義を受けて、実際に実験で使用する感覚刺激の作成や解析を行ったり、グループ研究のディスカッションやグループ研究や個人研究の進捗状況の発表を行ったりします。聴講を希望される方は、随時受け付けておりますので、お気軽にお問い合わせ下さい（brain[at]sfc.keio.ac.jp）。

      %section#environment
        %h3 研究環境

        %p
          本研究室では、最先端を行く脳計測装置を扱って研究を行うことが可能です。例えば、外部機関の脳磁界計測法（MEG）・磁気共鳴画像法（MRI）を使用して研究しています（例： 東京電機大学総合研究所千葉共同利用施設 ，担当教員はMEGの保守管理担当者でした）。これらに学部生で触れられるのは、大きな特権であると言えます。

      %section#for-other-univs
        %h3 他大学・他学科・他研究室からの進学希望者へ

        %p
          当研究室では，他大学・他学科・他研究室からの進学希望者を随時受け付けています．脳研究に興味があり進学を考えている方やご質問がある方は，お気軽にご相談下さい（brain[at]sfc.keio.ac.jp）．
