---
title: 青山敦研究室
---

%div#body
  %div.wrapper

    %div.spam
      %p hoghohgeo

    %div.welcome
      %h1 Middleman is Watching
      %p.doc
        = link_to "Read Online Documentation", "http://middlemanapp.com/"

