---
title: 青山敦研究室
---

%div#body
  %div.wrapper

    %div#sidemenu
      = partial "layouts/sidemenu", locals: {side_content: data.nav.side['index']}

    %div#main
      %h2 青山敦研究室とは
      %h3#about 研究概要
      - 2.times do
        %p= lorem.paragraph
      %h3#ichinichi 研究室の一日
      - 2.times do
        %p= lorem.paragraph

