---
title: 研究室概要
---

%div#body
  %div.wrapper

    %div#sidemenu
      = partial "layouts/sidemenu", locals: {side_content: data.nav.side['index']}

    %main
      %h2 青山敦研究室とは
      %section#about
        %h3 研究概要
        - 5.times do
          %p= lorem.paragraph
      %section#ichinichi
        %h3 研究室の一日
        - 5.times do
          %p= lorem.paragraph

