---
title: スタッフ・学生
---

%div#body
  %div.wrapper

    %div#sidemenu
      = partial "layouts/sidemenu", locals: {side_content: data.nav.side['members']}

    %main
      %h2 メンバー一覧
      %section#staffs
        %h3 スタッフ

        %dl.members
          %dt
            青山 敦 専任講師
          %dd aaoyama[at]sfc.keio.ac.jp
          %dd |
            慶應義塾大学大学院理工学研究科基礎理工学専攻博士課程修了（2006年，博士（理学））．日本学術振興会特別研究員，東京電機大学先端工学 研究所助教，チューリッヒ大学客員研究員を経て，慶應義塾大学 環境情報学部 専任講師

            - link_to 'research.html' do
              %p.right-align ⇒ 研究業績を確認する

      %section#students
        %h3 学生

        %dl.members
          %dt 佐久間 遥
          %dd 慶應義塾大学理工学研究科 前期博士課程2年

          %dt 糸田 孝太
          %dd 慶應義塾大学環境情報学部

          %dt 三好 貴尚
          %dd 慶應義塾大学総合政策学部

          %dt 江部 正周
          %dd 慶應義塾大学環境情報学部

          %dt 星野 孝太郎
          %dd 慶應義塾大学総合政策学部

          %dt 長野 祥大
          %dd 慶應義塾大学環境情報学部

          %dt 大形 遼平
          %dd 慶應義塾大学環境情報学部

          %dt 藤井 優人里
          %dd 慶應義塾大学環境情報学部

          %dt 上野 太郎
          %dd 慶應義塾大学環境情報学部

          %dt 宇野 優
          %dd 慶應義塾大学環境情報学部