---
title: スタッフ・学生
---

%div#body
  %div.wrapper

    %div#sidemenu
      = partial "layouts/sidemenu", locals: {side_content: data.nav.side['members']}

    %main
      %h2 メンバー一覧
      %section#staffs
        %h3 スタッフ

        %dl.members
          %dt
            青山 敦 専任講師
          %dd aaoyama[at]sfc.keio.ac.jp
          %dd |
            慶應義塾大学大学院理工学研究科基礎理工学専攻博士課程修了（2006年，博士（理学））．日本学術振興会特別研究員，東京電機大学先端工学 研究所助教，チューリッヒ大学客員研究員を経て，慶應義塾大学 環境情報学部 専任講師

            %p.right-align
              = link_to 'research.html', :class => 'button' do
                %i.fa.fa-book
                研究内容を確認する

      %section#graduatestudents
        %h3 大学院生

        %dl.members
          %dt 江部 正周
          %dd 慶應義塾大学政策メディア研究科M1

          %dt 小林 凌雅
          %dd 慶應義塾大学政策メディア研究科M1

      %section#undergraduatestudents
        %h3 学部生

        %dl.members
          %dt 竹内 雅
          %dd 慶應義塾大学総合政策学部B4

          %dt 松崎 裕太
          %dd 慶應義塾大学環境情報学部B4
         
          %dt 前田 遥
          %dd 慶應義塾大学総合政策学部B4
          
          %dt 渡辺 南友
          %dd 慶應義塾大学総合政策学部B4
          
          %dt 松井 恵未
          %dd 慶應義塾大学環境情報学部B4

          %dt 藤井 優人里
          %dd 慶應義塾大学環境情報学部B3

          %dt 上野 太郎
          %dd 慶應義塾大学環境情報学部B3

          %dt 宇野 優
          %dd 慶應義塾大学環境情報学部B3

          %dt 奥山 友理映
          %dd 慶應義塾大学環境情報学部B3

          %dt 鍋澤 歩
          %dd 慶應義塾大学総合政策学部B2

          %dt 黄俊 彦
          %dd 慶應義塾大学環境情報学部B2

          %dt 今野 嶺
          %dd 慶應義塾大学環境情報学部B2

          %dt 菅沼 麻鈴
          %dd 慶應義塾大学環境情報学部B2
