---
title: 学会発表・論文
---

%div#body
  %div.wrapper

    %div#sidemenu
      = partial "layouts/sidemenu", locals: {side_content: data.nav.side['publications']}

    %main
      %h2 学会発表・論文
      %section#papers
        %h3 原著論文

        %ol
          %li Dana Damian, Shuhei Miyashita, Atsushi Aoyama, Dominique Cadosch, Po-Ting Huang, Michael Ammann, Rolf Pfeifer, "Automated Physiological Recovery of Avocado Plants for Plant-based Adaptive Machines", Adaptive Behavior, Accepted.
          %li Atsushi Aoyama, Tomohiro Haruyama, Shinya Kuriki, "Early auditory change detection implicitly facilitated by ignored concurrent visual change during a Braille reading task", Journal of Integrative Neuroscience 12 (2013) 1-15.

      %section#conferences-international
        %h3 国際学会発表

        %ol
          %li Haruka Sakuma, Atsushi Aoyama, Satoshi Honda, "An MEG study of visual-tactile integration using the rubber hand illusion", Neuroscience 2013, San Diego (2013.11.9-13).
          %li Y.T. Huang, P.T. Li, S.H. Liao, J.J. Chieh, H.C. Yang, Shinya Kuriki, Atsushi Aoyama, H.E. Horng, "A study of the relaxing effect by analyzing the contingent magnetic variations in MEG via the stimulus of affective pictures", 7th East Asia Symposium on Superconductive Electronics (EASSE 2013), Taipei (2013.10.23-26).
          %li Kenichi Yuasa, Kaoru Amano, Atsushi Aoyama, Tsunehiro Takeda, "An MEG study of cortical objective representation independent of stimulus modality", 7th East Asia Symposium on Superconductive Electronics (EASSE 2013), Taipei (2013.10.23-26).
          %li Haruka Sakuma, Atsushi Aoyama, Satoshi Honda, "An MEG study of visual-tactile integration using the rubber hand illusion", 7th East Asia Symposium on Superconductive Electronics (EASSE 2013), Taipei (2013.10.23-26).
          %li Atsushi Aoyama, Shinya Kuriki, "A magnetoencephalographic study of cross-sensory association of audiovisual information", 7th East Asia Symposium on Superconductive Electronics (EASSE 2013), pp. 62, Taipei (2013.10.23-26), Invited lecture.
          %li Atsushi Aoyama, Kazuhiro Shigeta, Satoshi Honda, Shinya Kuriki, "Audiovisual spatial integration during adaptation to left-right reversed audition: an MEG study", 1st International Conference on Basic and Clinical Multimodal Imaging (BaCI 2013), Geneva (2013.9.5-8).

      %section#conferences-japan
        %h3 国内学会発表

        %ol
          %li 春山友宏，青山敦，栗城眞也，“点字触読課題下における視聴覚刺激の同時変化に対する脳磁界解析”日本生体医工学会・第8回マルチモーダル脳情報研究会，2013年10月7日，つくば（第8回マルチモーダル脳情報研究会抄録集，pp. 11）．
          %li 佐久間遥，青山敦，本多敏，“Rubber Hand Illusion を用いた視触覚統合についての脳磁図解析”，生活生命支援医療福祉工学系学会連合大会LIFE2013，2013年9月2日～4日，甲府 （LIFE2013論文集，OS2-1-8-1～OS2-1-8-2）．
          %li 志村悠，青山敦，大無田孝夫，野本洋平，小山裕徳，川澄正史，“呼吸統制によるリラックス状態の制御下における聴覚誘発脳活動と心電図の同時計測”，生活 生命支援医療福祉工学系学会連合大会LIFE2013，2013年9月2日～4日，甲府（LIFE2013論文 集，GS2-1-3-1～GS2-1-3-2）．
          %li 春山友宏，青山敦，“視聴覚情報の同時変化に対する脳活動解析”，生活生命支援医療福祉工学系学会連合大会LIFE2013，2013年9月2日～4日，甲府（LIFE2013論文集，GS2-1-2-1～GS2-1-2-2）．
          %li 豊田雄基，青山敦，小山裕徳，川澄正史，“視覚運動情報の予測と認知に対する脳活動の関係性”，生活生命支援医療福祉工学系学会連合大会LIFE2013，2013年9月2日～4日，甲府（LIFE2013論文集，GS2-1-1-1～GS2-1-1-2）．
          %li 志村悠，青山敦，大無田孝夫，野本洋平，小山裕徳，川澄正史，“呼吸統制によるリラックス状態の制御下における聴覚誘発脳磁界と心電図の同時計測”，第 28回日本生体磁気学会大会，2013年6月7日～8日，新潟（第28回日本生体磁気学会大会論文集，vol. 26, no. 1, pp. 184-185）．
          %li 青山敦，重田和宏，本多敏，栗城眞也，“左右反転聴空間への順応による適応的な視聴覚統合機構の検討”，第28回日本生体磁気学会大会，2013年6月7 日～8日，新潟（第28回日本生体磁気学会大会論文集，vol. 26, no. 1, pp. 174-175）．
