---
title: 研究分野
---

%div#body
  %div.wrapper

    %div#sidemenu
      = partial "layouts/sidemenu", locals: {side_content: data.nav.side['research']}

    %main

      %h2 研究活動

      %p
        青山研究室では，脳情報の計測と数理解析の観点から，学生の興味に応じた下記の4つのグループに分かれて研究を推進しています．今後，更にグループは増える予定です．

      %section#sensory-integration
        %h3 感覚統合グループ

        %p
          我々が知覚する全ての経験は，感覚情報として分散的に入力される実世界を脳内で再構築したものに過ぎません．このとき，感覚情報間の統合・連合や記憶による情報補完などが巧妙に行われることで，豊かな経験が生まれていると考えられますが，その詳細はあまり分かっていません．本グループでは，この“感覚統合機構”の解明，更には外的な制御を目指して研究を行っています．具体的には，特殊空間や拡張空間への順応時の脳活動，違和感の本質となる脳活動などを，誤差情報の伝播に固有な脳リズム構造の観点から調べたり、視覚経験を他の感覚情報で制御したりする研究を行っています．

        %p
          キーワード: 異種感覚統合，心身統合

      %section#emotion
        %h3 情動グループ

        %p
          脳の深部に存在する扁桃体は，情動の中枢として古くから研究されてきました．しかしながら，脳波やMEGは深部計測を不得手としており，情動情報を扁桃体の活動で評価することは困難でした．本グループでは，前頭部や下頭頂小葉などの大脳皮質活動に注目することで，情動情報を脳の表層レベルで読み取る試みを行っています．

        %p キーワード: デコーディング，感情価検出

      %section#language
        %h3 言語グループ

        %p
          日本の聴覚障害者は34万3千人で，全障害者の9.8%を占めると言われています．そのため，手話はコミュニケーションの手段として広く普及していますが，言語としての手話理解のメカニズムは十分に分かっていません．本グループでは，日本手話を対象として，手話の経験者と未経験者とで手話や漢字に対する脳活動の違いを調べています．

        %p
          キーワード: 言語コミュニケーション，医療・福祉

      %section#memory
        %h3 記憶グループ

        %p
          我々がある情報を記憶するとき，別の情報と結び付けることがありますが，必ずしも情報間に明瞭な関係性が存在する訳ではありません．本グループでは，無関係な2つの情報の連合学習と再学習における脳活動の差異を明らかにする研究を行っています．

        %p キーワード: 連合学習，Voxel-based morphometry
