---
title: 研究分野
---

%div#body
  %div.wrapper

    %div#sidemenu
      = partial "layouts/sidemenu", locals: {side_content: data.nav.side['research']}

    %main

      %h2 研究活動

      %p
        青山研究室では，脳情報の計測と数理解析の観点から，下記の研究プロジェクトを推進しています．

      %section#sensory-integration
        %h3 感覚統合機構の解明と制御

        %p
          我々が知覚する全ての経験は，感覚情報として分散的に入力される実世界を脳内で再構築したものに過ぎません．このとき，感覚情報間の統合・連合や記憶による情報補完などが巧妙に行われることで，豊かな経験が生まれていると考えられますが，その詳細はあまり分かっていません．本テーマでは，この“感覚統合機構”の解明，更には外的な制御を目指して研究を行っています．具体的には，特殊空間や拡張空間への順応時の脳活動，違和感の本質となる脳活動などを，誤差情報の伝播に固有な脳リズム構造の観点から調べたり、視覚経験を他の感覚情報で制御したりする研究を行っています．

        %p
          キーワード: 異種感覚情報処理，心身統合，ミスマッチ反応，情動情報の読み取り

      %section#emotion
        %h3 情動情報の読み取り

        %p キーワード: デコーディング

      %section#language
        %h3 言語

        %p
          何かを理解しようとするとき、その中で特異なものを調べると、その本質が見えてくることがあります。言語班ではこの理念の基、言語が脳の中でどう処理されているのかを理解するために、手話（日本手話）の理解メカニズムについて研究しています。また合わせて、生物と無生物の単語の処理の違いや、表意という似た性質を持っている漢字についても研究しています。

      %section#memory
        %h3 記憶

        %p キーワード: Voxel-based morphometry.
