---
title: 共同研究
---

%div#body
  %div.wrapper

    %div#sidemenu
      = partial "layouts/sidemenu", locals: {side_content: data.nav.side['sponsorship']}

    %main
      %h2 企業との共同研究について

      %p
        脳機能研究や複雑な神経回路についての研究はまだ始まったばかりです。神経科学研究において先進国である米国でも、ヒトの脳機能の解析研究「脳行動マップ（Brain Activity Map）」を国の優先プロジェクトとして解明を急いでいます。主にアルツハイマー病やパーキンソン病など医学的研究の側面と、もう一つは脳の多層的且つ機能的な情報処理の解明はIT革命以降の世界的ビジネスで優位に立てるからです。 青山研究室では、脳研究に関心を持つ企業と積極的なコラボレーションによる「知の活用と実践」で社会に還元できる次世代のイノベーションの達成を目指しています。

      %p
        共同研究をお考えの方は、気軽にbrain[at]sfc.keio.ac.jpまでご連絡ください。
