---
title: 開講授業一覧
---

%div#body
  %div.wrapper

    %div#sidemenu
      = partial "layouts/sidemenu", locals: {side_content: data.nav.side['teaching']}

    %main
      %h2 開講授業一覧
      %section#whole-year
        %h3 春・秋学期開講授業

        %dl
          %dt 研究会
          %dd
            本研究会では、脳情報の計測と数理解析の観点から脳に関する基礎研究（脳科学）に触れると共に、脳情報通信や医療・福祉等への応用（脳工学）を目指していきます。さらには、脳磁界計測法（MEG）・磁気共鳴画像法（MRI）・脳波等（特にMEG）で計測されたデータを用いて、未知の脳機能を調べる方法を学んでいくと共に、グループまたは個人でテーマを設定して研究活動を進めていきます。聴講をご希望の方は、brain[at]sfc.keio.ac.jpまでお気軽にご連絡下さい。

          %dt プロジェクト 認知・言語の発達と学習（今井むつみ教授と共同担当）
          %dd
            乳幼児が言語を学ぶ様子はスポーツ、科学、音楽などあらゆることの学びについて深い示唆を与えてくれます。このプロジェクトでは、言語の習得を中心に、人の「学び」について認知科学、脳科学の観点から考えていきます。本プロジェクトでは、認知科学、脳科学の実証研究を展開していくために必要な文献、考え方、視線計測や脳波計測、脳イメージングなどの手法とその解析手法について、演習形式で行い、各自が自分の研究のデザインをしていきます。

      %section#spring
        %h3 春学期開講授業

        %dl
          %dt 変化の理論
          %dd
            微分学は、物理現象や精神現象、経済現象等の変化を予測する上で基礎となる重要な学問です。本講は、関数の極限・連続性からスタートし、高校数学で学ぶ微分の定義や計算方法、関数の増減について整理します。更にこれらを基礎として、関数の多項式近似を行うテイラー展開に繋げ、微分を含んだ方程式（微分方程式）の解法や多変数関数の微分（偏微分）・極値問題まで拡張させていきます。最後に、コンピュータで微分を扱う数値計算法についても簡単に触れます。

      %section#autumn
        %h3 秋学期開講授業

        %dl
          %dt 脳情報科学
          %dd
            本講では、活動電位による神経細胞の情報伝達方法やEEG、MEG、MRI等の脳計測技術の物理的な測定原理、数理的な解析アルゴリズム、長所と短所等を解説すると共に、脳計測で明らかにされた視覚・聴覚・体性感覚機能や運動機能、高次脳機能に関する情報処理の知見を実例を挙げて紹介します。更には、Brain machine/computer interfaceやBrain decoding等の最新の脳情報技術についても解説を行います。

          %dt DIFFERENTIAL CALCULUS (GIGA)
          %dd
            Differential calculus is one of the basic mathematic fields and useful to predict either physical, psychological, or economic phenomenon. In this class, we first study limits of functions, continuous functions, derivatives of functions, and analysis of functions. Then, on the basis of these knowledge, we study polynomial approximation and partial derivatives.
